.calcBtns{
    height: 85px;
    width: 90px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #f4f1f1;
    user-select: none;
    box-shadow: 10px 10px 30px #bebebe,-10px -10px 30px #ffffff;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.calcBtns:hover{
   background-color: aqua;
}
.res{
    width: 180px;
    background-color: rgb(0, 119, 255);
}